
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483956973833'); /* IE9*/
  src: url('iconfont.eot?t=1483956973833#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483956973833') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483956973833') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483956973833#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-red-star:before { content: "\e601"; }

.icon-star:before { content: "\e623"; }

.icon-dianhua:before { content: "\e619"; }

.icon-hot:before { content: "\e66a"; }

.icon-huanyipi:before { content: "\e602"; }

.icon-tuichu:before { content: "\e615"; }

.icon-xinfeng:before { content: "\e611"; }

.icon-dengpao:before { content: "\e63d"; }

.icon-kefu:before { content: "\e622"; }

.icon-fensui:before { content: "\e69c"; }

.icon-shengyin:before { content: "\e64c"; }

.icon-huo:before { content: "\e66c"; }

.icon-zhankai:before { content: "\e6a4"; }

.icon-shouqi:before { content: "\e616"; }

.icon-category:before { content: "\e6bf"; }

.icon-kuaidi100:before { content: "\e664"; }

.icon-shenqing:before { content: "\e656"; }

.icon-shouyeshouye:before { content: "\e600"; }

.icon-yincang:before { content: "\e6a2"; }

.icon-jihua:before { content: "\e77d"; }

.icon-gongzuotai:before { content: "\e678"; }

.icon-jingdong1:before { content: "\e685"; }

.icon-jingdong:before { content: "\e64a"; }

.icon-jinggao:before { content: "\e6df"; }

.icon-huanyuan:before { content: "\e63e"; }

.icon-yichaoshi:before { content: "\e677"; }

.icon-zhishiku:before { content: "\e608"; }

.icon-work-reject:before { content: "\e60e"; }

.icon-bohui:before { content: "\e6c2"; }

.icon-icon_shangxian:before { content: "\e6da"; }

.icon-icon_xiaxian:before { content: "\e6db"; }

.icon-huishouzhan:before { content: "\e61d"; }
